:root {
    --dark-clr: #1E1E1E;
    --main-clr: #F5F7F8;
    --sec-clr: #F4CE14;
    --ter-clr: #495E57;
}

body, html { 
    padding: 0;
    margin: 0;
    background-color: var(--main-clr);
    font-family: 'Passion One', cursive;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}




.Nav {
    background-color: var(--main-clr);
    width: 100vw;
    height: 5rem;
    margin: 0;
    padding: 0;
}


.Nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    position:relative;
    display: flex;
    gap: 20px;
    text-decoration: none;
    align-items: center; /* Fixes vertical stretching */

    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5rem;
    border-bottom: 1px solid var(--dark-clr) !important;
    box-shadow: 1px 1px 10px 5px #ccc;

}

.Nav ul li {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.Nav ul li:nth-child(4) {
    background-color: var(--ter-clr);
    color: var(--main-clr);
}

.Nav .title {
    font-size: 50px;
    
    padding: 10px 15vw;
    color: var(--ter-clr);
    margin-top: -2px; /* Slight manual adjustment */
    font-style: italic;
}

.Nav .title span {
    color: var(--sec-clr);
}

/*Hover animation*/
.Nav ul li:not(:nth-child(3)):hover {
    color: var(--main-clr);
    transform: scale(1.1);
    animation: fade-in 0.1s ease-in-out forwards;

    transform: scale(1.1);
}


.Nav ul li:nth-child(4):hover {
    animation: expand 0.1s ease-in-out forwards;
}

@keyframes expand {
    from {
        padding: 10px; 
      }
      to {
        padding: 10px 25px; 
      }
}

@keyframes fade-in {
    from {
        padding: 10px; 
        background-color: var(--ter-clr);
    }
    to {
        padding: 10px 25px; 
        background-color: var(--ter-clr);
    }
}



/* Landing Page */
/* Upper Div */
.LandingPage {
    width: 95vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
}

.LandingPage div {
    width: 50vw;
    text-align: center;
    word-spacing: 10px;
}

.crown {
    width: 40px;
    height: 40px;
    fill: var(--dark-clr)
}

.LandingPage div h1 {
    font-size: 135px;
    font-weight: bolder;
    margin: 0 0 0 0; /* top right bottom left */
    line-height: 6rem;
}

.noise-text {
    background: 
        url('/images/noise.png') repeat,
        linear-gradient(#1E1E1E, #ffffff); /* base color */
    background-size: 200px 200px, auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flow 10s infinite cubic-bezier(0.4, 0, 0.2, 1) alternate-reverse;
}

.noise-text:hover {
    background: 
        url('/images/noise.png') repeat,
        linear-gradient(#1E1E1E, #1E1E1E); /* base color */
    background-size: 200px 200px, auto;
    -webkit-background-clip: text;
    background-clip: text;

}

@keyframes flow {
    0% {
        
    }
    100% {
        background-position: 5000px 0px;    /* x y pixel offsets */
    }
}



.battles-yellow {
    background: linear-gradient(#1e1e1e, #f4cf14);
    background-size: 200px 200px, auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow:
        1px 1px 0 #f4cf14,
       -1px -1px 0 #1E1E1E,
        1px -1px 0 #1E1E1E,
       -1px  1px 0 #f4cf14;
}
.battles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* space between square and text */
    
}


.battle-square {
    width: 3rem;
    height: 3rem;
    max-width: 100px;
    max-height: 150px;
    background-color: #3e5650;
    box-shadow: inset 1px 1px 1em rgba(0, 0, 0, 0.487);

}


.left-square {
    padding-top: 20px;
}

.right-square {
    margin-top: 20px;
}






/* Lower Div */
.LandingPage div p {
    font-size: 24px;
    max-width: 400px;    
    margin: 10px auto 0;  
    text-align: center; 
    overflow-wrap: break-word; 
    color: var(--ter-clr);
    font-style: italic;
}


#MM-btn {
    font-family: 'Passion One', cursive;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 50px;
    margin: 50px 0 0 0;
    width: 20rem;
    border-radius: 10px;
    border: 0px;
    background-color: var(--ter-clr);
    color: var(--main-clr);
    animation: all 0.2s ease-in-out;
    box-shadow: 1px 1px 10px black;
}


#MM-btn:hover {
    animation: btn-expand 0.1s ease-in-out forwards;
    cursor: pointer;
}


@keyframes btn-expand {
    from {
      }
      to {
        padding-left: 5px 75px;
        transform: scale(1.1);
      }
}


/**/

.Footer {
    background-color: var(--dark-clr);
    width: 100vw;
    height: 30.1vh;
}

.text-with-inset-shadow h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--sec-clr); /* Your gold color */
  filter: url(#text-inset-shadow);
  
  /* Optional: Add outer glow */
  text-shadow: 0 0 10px rgba(248, 161, 0, 0.3);
}

/**/

