
.MotherofGod-Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Landing-Area {
  background-color: #f8f9fa;
  padding-top: 1rem;
  padding-right: 8rem;
  padding-left: 8rem;
  padding-bottom: 1rem;
  /* padding: 2rem; */
  /* padding: 2rem, 5rem, 2rem, 5rem; */
  flex: 1;
}

/* ======================= navbar section======================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #495E57;
}

.auth-buttons button {
  margin-left: 0.5rem;
}
/* //======================= navbar section======================= */


.Landing-Content-Container{
  text-align: center;
}


.Main-Title{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
}


.title-dark {
  font-weight: bold;
  font-size: 10rem;
  color: #495E57;
}

.title-yellow {
  font-weight: bold;
  font-size: 10rem;
  color: #F4CE14;
}


.lookformatch-button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #2d4b3a;
  color: white;
  border: none;
  border-radius: 8px;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #2d4b3a;
}


/* ======================= bottom section ======================= */

.pre-existing-section {
  background-color: black;
  color: white;
  padding: 2rem;
}


/* //======================= bottom section ======================= */


/* button {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  background-color: green;
}
 */
